.route-segment-actions {
  position: relative;
  
  .btn-group {
    flex-wrap: wrap;
  }

  &.compact {
    .btn-group {
      .btn {
        padding: 0.25rem 0.5rem;
      }
    }
  }
}

// Style for modal backdrop
.modal.d-block {
  display: block !important;
}
