# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  # Maintain dependencies for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      all:
        patterns:
          - "*"

  # Maintain dependencies for Golang
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "monthly"
    groups:
      all:
        patterns:
          - "*"

  # Maintain image versions for docker
  - package-ecosystem: "docker"
    directory: "/"
    schedule:
      interval: "weekly"

  # Maintain image versions for node
  - package-ecosystem: "npm"
    directory: "/client/"
    schedule:
      interval: "monthly"
    groups:
      angular:
        patterns:
          - "@angular/*"
          - "@angular-devkit/build-angular"
          - "@schematics/angular"
      fullcalendar:
        patterns:
          - "@fullcalendar/*"
      ng-icons:
        patterns:
          - "@ng-icons/*"
      ngx-translate:
        patterns:
          - "@ngx-translate/*"
