services:
  db:
    image: postgres:16-alpine
    restart: unless-stopped
    shm_size: 128mb
    env_file: ./postgres.env
    networks:
      - workout-tracker
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -d $${POSTGRES_DB} -U $${POSTGRES_USER}"]
      interval: 5s
      timeout: 5s
      retries: 5
    volumes:
      - db-data:/var/lib/postgresql/data/

  workout-tracker:
    image: ghcr.io/aepyornisnet/aepyornis:main
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    ports:
      - 8080:8080
    networks:
      - workout-tracker
    env_file: ./postgres.env
    environment:
      WT_JWT_ENCRYPTION_KEY_FILE: /run/secrets/jwt_encryption_key
    healthcheck:
      test: ["CMD-SHELL", "wget --spider -q http://127.0.0.1:8080/health || exit 1"]
      interval: 10s
      timeout: 3s
      retries: 6
      start_period: 20s
    secrets:
      - jwt_encryption_key

secrets:
  jwt_encryption_key:
    file: ./jwt_encryption_key.txt

volumes:
  db-data:

networks:
  workout-tracker:
    external: false
