app-base-table {
  .cell-link-backdrop {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    text-decoration: none;
  }

  .cell-content {
    position: relative;
  }
}