.profile-avatar-placeholder {
	width: 72px;
	height: 72px;
	background-color: var(--bs-secondary-bg);
	color: var(--bs-secondary-color);
}

.profile-avatar {
	width: 72px;
	height: 72px;
	object-fit: cover;
	flex-shrink: 0;
}
