aside {
  height: 100vh;
}

@media (max-width: 575.98px) {
  aside {
    position: fixed;
    top: 48px;
    left: 0;
    bottom: 0;
    height: fit-content;
    width: 100vw !important;
    z-index: 1020;
    overflow-x: hidden;
    overflow-y: auto;
  }
}
