name: Angular Client CI

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["master"]

jobs:
  client-lint-build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: "24"
          cache: "npm"
          cache-dependency-path: client/package-lock.json

      - name: Install dependencies
        working-directory: ./client
        run: npm ci

      - name: Run linter
        working-directory: ./client
        run: npm run lint

      - name: Build application
        working-directory: ./client
        run: npm run build
